@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-primary: #0d0d0d;
}

body {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: 100%;
    color: white;
    background-color: var(--bg-primary);
    border-radius: 10px;
    border: none;
    padding: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #262626;
}

@media(max-width: 768px) {
    .button {
        width: 100%;
        padding: 8px;
        font-size: 10px;
    }
}

@media(max-width: 991px) {
    .button {
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }
}